scripts
    script(type="text/javascript").
        function validateAndSubmit() {
            if (document.forms["add-loyalty-account"].reportValidity()){
                document.forms["add-loyalty-account"].submit();
            } else {
                const inputs = document.querySelectorAll(".panel-input");
                // Marks the required fields with a red border
                inputs.forEach( input => {
                    input.classList.add("input--validity-visible");
                });
            }
        }
h4(class="panel-title") Enter your mobile number to login
form(id="add-loyalty-account" action='/add-loyalty-account', method='post', style="padding: 0 10% 0 20%;")
    div(class="panel-field")
        input(class="panel-input", name="phoneNumber",type="tel", placeholder="Phone Number(10 digits): 0000000000", pattern="[0-9]{3}[0-9]{3}[0-9]{4}" autocomplete="tel", required)
        if (loyaltyRewardInfo.accountNotFound)
            p(class="error-message") Can not find your account. Try another number?
    input(name='locationId', type='hidden', value=locationInfo.locationId)
div(class="panel-field")
    button(class="reward-button" type="button" onclick="validateAndSubmit()") Check in
