doctype html
html
  head
    title="GoodPoints"
    block styles
      link(rel='stylesheet', href='/stylesheets/main.css')
      link(rel='stylesheet', href='/stylesheets/checkout.css')


    block scripts
  body
    div(class="cocoon")
      include includes/header.pug
      block content
