h1 {
  font-family: sans-serif;
  text-align: center;
}

.content-table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  min-width: 400px;
  width:90%;
  font-family: Quicksand, sans-serif;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background: #ff5758;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

/* .content-table tbody tr {
  border-bottom: 1px solid #ff5757;
} */

.content-table tbody tr:nth-of-type(even) {
  background: #fff2f2;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff5757;
}

.active-row {
  font-weight: bold;
  color: #009879;
}

a {
  color: #045746;
  color: #000;
}

img {
  width: 15px;
}
